 * {
	box-sizing: border-box;

	--color-hex-primary: #7800FF;
	--color-hex-primary-bg:#2B0045; 
	--color-hex-complementary: #00FF89;
 }

 html, body {
	margin: 0;
	padding: 0;
 }

a {
	color: #FFFFFF;
	transition: all 0.3s;
}

a:hover, a.active, button:hover {
	background-color: var(--color-hex-primary);
}

article {
	letter-spacing: 1px;
	line-height: 2;
	margin: 10% 0;
}

body {
	background-color: #140020;
	color: #FFFFFF;
	font-family: "usual", sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 6% 10%;
}

button {
	background-color: var(--color-hex-primary-bg);
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: "usual", sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin: 15px 0;
	padding: 10px 15px;
	text-transform: uppercase;
	transition: all 0.3s;
}

footer {
	font-size: 12px;
	margin-top: 6%;
}

form input:not([type='checkbox']), form textarea {
	display: block;
	margin-top: 5px;
	max-width: 500px;
	width: 100%;
}

form div {
	margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: courier-prime, monospace;
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	font-weight: 300;
	letter-spacing: 5px;
}

h2, h3 {
	font-size: 24px;
	letter-spacing: 5px;
}

h3 {
	background-color: var(--color-hex-primary);
	border-radius: 10px;
	padding: 10px 20px;
}

h4 {
	font-size: 20px;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

nav ul li {
	font-family: courier-prime, monospace;
	letter-spacing: 5px;
	text-transform: uppercase;
}
nav ul li a {
	color: var(--color-hex-complementary);
	display: inline-block;
}

p {
	margin: 25px 0;
}

section h2 {
	background-color: var(--color-hex-primary);
	border-radius: 10px;
	font-size: 30px;
	padding: 10px;
}

section h2 span {
	background-color: var(--color-hex-complementary);
	color: var(--color-hex-primary);
}

section li {
	margin: 10px 0;
}

strong {
	font-weight: 900;
}

table tr th {
	border: 2px solid var(--color-hex-primary);
	border-radius: 10px;
	font-weight: 500;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
}

table tr td {
	padding: 10px 20px;
}

#header_Global {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#header_Global_Title_Container {
	background-color: var(--color-hex-complementary);
}

#header_Global_Nav_Container {
	background-color: var(--color-hex-primary-bg);
}

#header_Global_Title {
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: space-between;
	margin: auto 10%;
	padding: 1em;
}

#header_Global_Title figure {
	margin: 0;
}

#header_Global_Title img {
	width: 350px;
}

#header_Global_Title h1 {
	color: var(--color-hex-primary);
	font-size: 24px;
	letter-spacing: 3px;
	margin: 0;
	text-align: center;
}

#header_Global_MenuButton {
	background-color: var(--color-hex-primary-bg);
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	transition: all 0.3s;
}
#header_Global_MenuButton:hover {
	background-color: var(--color-hex-primary);
}

#header_Global nav {
	margin: auto 10%;
}

#header_Global nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 1em;
}

@media only screen and (max-width: 1100px) {

	#header_Global nav ul li {
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 800px) {

	#header_Global_Title h1 {
		font-size: 20px;
		letter-spacing: 1px;
	}

	#header_Global_Title img {
		width: 300px;
	}
}

@media only screen and (max-width: 700px) {

	#header_Global nav ul li {
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px) {

	#header_Global_Title {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#header_Global nav ul {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	#header_Global nav ul li {
		font-size: 18px;
		letter-spacing: 5px;
		margin: 15px 0;
	}
}

@media only screen and (max-width: 400px) {

	#header_Global_Title img {
		width: 270px;
	}

	#header_Global_Title h1 {
		font-size: 17px;
	}
}

/* Home page only */ 

#header_Home {
	display: flex;
	align-items: stretch;
}

#header_Home_Title, #header_Home_Subtitle {
	display: flex;
	flex-direction: column;
	padding: 6%;
}

#header_Home_Title {
	background-color: var(--color-hex-complementary);
	border-radius: 60px;
	color: var(--color-hex-primary);
	justify-content: space-between;
	width: 70%;
}

#header_Home_Title h1 {
	font-size: 60px;
}

#header_Home_Title figure {
	margin: 0;
}

#header_Home_Title h1 {
	margin: 0;
	text-align: right;
}

#header_Home_Subtitle {
	align-items: baseline;
	background-color: var(--color-hex-primary);
	border-radius: 60px;
	color: var(--color-hex-complementary);
	width: 30%;
}

@media only screen and (max-width: 1100px) {

	#header_Home_Subtitle h2 {
		font-size: 18px;
		letter-spacing: 2px;
	}
}

@media only screen and (max-width: 800px) {

	#header_Home_Title h1 {
		font-size: 40px;
	}

	#header_Home_Subtitle h2 {
		font-size: 14px;
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 600px) {
	
	header, nav ul {
		flex-direction: column;
	}

	#header_Home_Title, #header_Home_Subtitle {
		width: 100%;
	}

	#header_Home_Title h1 {
		font-size: 30px;
	}

	#header_Home_Subtitle h2 {
		font-size: 20px;
		letter-spacing: 5px;
	}
}

#section_Home {
	display: flex;
	flex-direction: row-reverse;
}

#section_Home article {
	margin: 0;
	padding: 6%;
	width: 70%;
}

#section_Home nav {
	align-items: flex-end;
	background-color: var(--color-hex-primary-bg);
	display: flex;
	padding-top: 6%;
	padding-left: 2%;
	width: 30%;
}

#section_Home nav ul {
	flex-direction: column;
}

#section_Home nav ul li a {
	font-size: 20px;
	padding: 25px;
}

@media only screen and (max-width: 1100px) {

	#section_Home nav {
		padding-left: 0;
	}

	#section_Home nav ul li a {
		padding: 15px;
	}
}

@media only screen and (max-width: 800px) {

	#section_Home nav ul li a {
		letter-spacing: 2px;
	}
}

@media only screen and (max-width: 600px) {

	#section_Home {
		flex-direction: column;
	}

	#section_Home nav, #section_Home article {
		width: 100%;
	}

	#section_Home nav {
		padding-left: 5%;
	}

	#section_Home nav ul li a {
		letter-spacing: 5px;
		padding: 25px;
	}
}

.list_CTA {
	list-style-type: none;
	padding-left: 0;
}

.list_CTA li {
	align-items: center;
	background-color: var(--color-hex-primary-bg);
	border-radius: 10px;
	display: flex;
	margin: 3px 0;
	padding: 10px 15px 15px 15px;
}

.list_CTA span {
	color: var(--color-hex-complementary);
	display: inline-block;
	padding: 5px 15px 0 0;
}

.list_CTA a {
	
}

/* inner pages only */
#section_Profile, #section_Design, #section_Artwork, #section_Resume, #section_Shop, #section_Contact, #section_Links {
	padding-top: 50px;
}

@media only screen and (max-width: 950px) {

	#section_Profile, #section_Design, #section_Artwork, #section_Resume, #section_Shop, #section_Contact, #section_Links {
		padding-top: 80px;
	}

}