<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Leisl Schrader; Creative Director, Graphic Designer, Visual Artist, Geek, etc.
		</title>
		<link rel="stylesheet" href="https://use.typekit.net/auq7xnh.css">
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		{{ content }}

		<footer>
			<p>
				&copy; 2023 LeislArt LLC. All Rights Reserved.
			</p>
			<p>
				<a href="{{ site.baseurl }}/legal/disclaimer/">Legal Disclaimer</a> | 
				<a href="{{ site.baseurl }}/legal/terms-conditions/">Terms and Conditions</a> | 
				<a href="{{ site.baseurl }}/legal/privacy-policy/">Privacy Policy</a>
			</p>
		</footer>

		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
