---
layout: default
---

<header id="header_Home">
	<div id="header_Home_Title">
		<figure>
			<img src="{{ site.baseurl }}/assets/images/global/header_ipa_vertical.svg" alt="It's pronounced LEASE-ul SHRAY-dur." />
		</figure>
		<h1>
			* (Leisl Schrader)
		</h1>
	</div>
	<div id="header_Home_Subtitle">
		<h2>
			{Graphic Designer},
		</h2>
		<h2>
			{Visual Artist},
		</h2>
		<h2>
			{Creative Director},
		</h2>
		<h2>
			{Total Geek},
		</h2>
		<h2>
			{et cetera}.
		</h2>
	</div>
</header>

{{ content }}
