---
layout: default
---

<header id="header_Global">
    <div>
        <figure>
            <img src="{{ site.baseurl }}/assets/images/global/header_ipa_horizontal.svg" alt="It's pronounced LEASE-ul SHRAY-dur." />
        </figure>
        <h1>
            * (Leisl Schrader)
        </h1>
        <span class="material-symbols-rounded">menu</span>
    </div>
    <nav>
        <ul>
            <li>
                <a class="" href="{{ site.baseurl }}/profile/">
                    [Profile]
                </a>
            </li>
            <li>
                <a class="" href="{{ site.baseurl }}/design/">
                    [Design]
                </a>
            </li>
            <li>
                <a class="" href="{{ site.baseurl }}/artwork/">
                    [Artwork]
                </a>
            </li>
            <li>
                <a class="" href="{{ site.baseurl }}/resume/">
                    [Resum&eacute;]
                </a>
            </li>
            <li>
                <a class="" href="{{ site.baseurl }}/shop/">
                    [Shop]
                </a>
            </li>
            <li>
                <a class="" href="{{ site.baseurl }}/contact/">
                    [Contact]
                </a>
            </li>
            <li>
                <a class="" href="{{ site.baseurl }}/links/">
                    [Links]
                </a>
            </li>
        </ul>
    </nav>
</header>

{{ content }}
